/.cph
/.vscode
/G_Continents.cpp
/G_Task_1_7.cpp
/H_DNA_Sorting.cpp
/H_Task_1_8.cpp
/H_Task_2_8.cpp
/H_Task_8.cpp
/I_Task_1_9.cpp
/I_Task_2_9.cpp
/I_Task_9.cpp
/I_TCMCF.cpp
/J_Indian_Summer.cpp
/J_Task_10.cpp
/J_Task_2_10.cpp
/K_Dominos_2.cpp
/K_Modular_Inverse.cpp
/L_Revenge_of_ex_Euclid.cpp
/output